html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Trebuchet MS", Arial, sans-serif;
  background-color: #000;
  background-size: cover;
  color: #eee;
}

/* NOTE: a class for each of the images we want as a random background */
.body-bg-accelerator {
  background-image: url("../images/accelerator.jpg");
}

.body-bg-exihibition {
  background-image: url("../images/exihibition.png");
}

.body-bg-leds {
  background-image: url("../images/leds.png");
}

.body-bg-worker {
  background-image: url("../images/worker.jpg");
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
}

.cds-logo {
  border-bottom: 1px solid #eee;
  padding-top: 10px;
  margin-bottom: 5%;
  text-shadow: 2px 2px 10px #000;
}

.cds-logo h1 {
  font-weight: bold;
}

.cds-message {
  text-align: center;
  text-shadow: 1px 1px 5px #000;
}

.cds-message h1 {
  text-align: center;
}

.cds-message p.lead {
  margin-top: 20px;
  margin-bottom: 0;
}

.cds-button-group {
  text-align: center;
  margin: 20px 0 80px 0;
}

.cds-button-group a {
  border: 1px solid #eee;
  border-radius: 0;
  color: #eee;
  padding-left: 70px;
  padding-right: 70px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  text-shadow: 2px 2px 10px #000;
}

.cds-button-group a:hover {
  text-decoration: none;
  color: #000;
  background: #eee;
  text-shadow: none;
}

.cds-status .cds-status-title {
  border-bottom: 1px solid #eee;
}

.cds-status .cds-status-container {
  margin: 30px 0 50px 0;
}

.cds-status .cds-status-container .cds-status-section {
  margin: 20px 0;
}

.cds-footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  background-image: url("../images/cern-logo.png");
  background-repeat: no-repeat;
  background-position: right;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .cds-footer,
  .cds-image-caption {
    display: none;
  }
  .cds-button-group ul li {
    display: block;
    width: 100% !important;
  }
  .cds-button-group ul li a {
    width: 100% !important;
    margin: 2% 0;
  }
}
